[init]
  defaultBranch = main

# [user]
#   email = devanslink@gmail.com
#   name = Devan Sisson

[push]
	autoSetupRemote = true # https://stackoverflow.com/a/17096880/10927329

[core]
  editor = nvim

# [url "ssh://git@github.com"]
#   insteadOf = https://github.com
